<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>39 Default vCard / Business Card Templates</title>
</head>
<body style="background-color: #fff7f3;">
  
  <center>
    <h1>
      <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766410007/svgviewer-png-output_2_sn1gmr.png" height="55" alt="VCard Templates">
    </h1>
    
      <table  cellpadding="10" cellspacing="0" width="55%">
        
        <!-- Row 1 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/reporter" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766410008/svgviewer-png-output_azt9ng.png" height="55" alt="Reporter"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/architects" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766410007/svgviewer-png-output_3_sxv8rx.png" height="55" alt="Architecture"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/flower-garden" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409980/svgviewer-png-output_4_tuvs1o.png" height="55" alt="Garden"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/teacher-template" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409980/svgviewer-png-output_5_ttfehk.png" height="55" alt="Teacher"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/petshop" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409980/svgviewer-png-output_1_oi03fi.png" height="55" alt="Pet Shop"><br>
            </a>
          </td>
        </tr>
        
        <!-- Row 2 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/taxi-service-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409980/svgviewer-png-output_6_b7wcqa.png" height="55" alt="Taxi"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/interior-designer" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409979/svgviewer-png-output_7_dptmni.png" height="55" alt="Interior"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/chef-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409980/svgviewer-png-output_8_dhlybk.png" height="55" alt="Chef"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/artist-makeup" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409979/svgviewer-png-output_9_qa6ewo.png" height="55" alt="MakeUp Artist"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/ceo-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409979/svgviewer-png-output_10_s0tygk.png" height="55" alt="CEOs/CXOs"><br>
            </a>
          </td>
        </tr>
        
        <!-- Row 3 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/social-influencers-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409978/svgviewer-png-output_11_nkhc2k.png" height="55" alt="Influencers"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/social-services-template" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409978/svgviewer-png-output_12_mgyzpx.png" height="55" alt="NGO"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/retailer" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409978/svgviewer-png-output_13_q6pjfa.png" height="55" alt="Retailer"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/consultant" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409939/svgviewer-png-output_14_dpvtmn.png" height="55" alt="Consultant"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/handyman" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409939/svgviewer-png-output_15_f0ipu7.png" height="55" alt="Handyman"><br>
            </a>
          </td>
        </tr>
        
        <!-- Row 4 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/travel-agency" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409938/svgviewer-png-output_16_yd98qu.png" height="55" alt="Travel Agency"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/photographer" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409938/svgviewer-png-output_17_i9luzc.png" height="55" alt="Photographer"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/real-estate" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409938/svgviewer-png-output_18_ds8ttz.png" height="55" alt="Real Estate"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/musician" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409938/svgviewer-png-output_19_cvboto.png" height="55" alt="Musician"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/doctor" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409938/svgviewer-png-output_20_vj4wsm.png" height="55" alt="Doctor"><br>
            </a>
          </td>
        </tr>
        
        <!-- Row 5 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/trainer-gym" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409937/svgviewer-png-output_21_nbvll8.png" height="55" alt="Gym Trainer"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/event-planner" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409931/svgviewer-png-output_22_xh63gx.png" height="55" alt="Event Planner"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/stylish-salon" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409906/svgviewer-png-output_23_lobv53.png" height="55" alt="Salon"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/petclinic" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409906/svgviewer-png-output_24_rqsgwu.png" height="55" alt="Pet Clinic"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/marriage" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409906/svgviewer-png-output_25_byouxu.png" height="55" alt="Marriage"><br>
            </a>
          </td>
        </tr>
        
        <!-- Row 6 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/lawyer" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409906/svgviewer-png-output_26_gtuyqr.png" height="55" alt="Lawyer"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/dynamic" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409906/svgviewer-png-output_27_bmytgx.png" height="55" alt="Dynamic"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/Developer" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409906/svgviewer-png-output_28_wlkzdx.png" height="55" alt="Developer"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/portfolio" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409905/svgviewer-png-output_29_pffgpp.png" height="55" alt="Portfolio"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/pro-network-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409874/svgviewer-png-output_30_qify02.png" height="55" alt="Pro Network"><br>
            </a>
          </td>
        </tr>
        
        <!-- Row 7 -->
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/corporate-identity-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409874/svgviewer-png-output_31_lobzfe.png" height="55" alt="Corporate Identity"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/corporate-classic-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409874/svgviewer-png-output_32_onlwvw.png" height="55" alt="Corporate Classic"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/digital-marketing" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_33_yrq1ti.png" height="55" alt="Business Beacon"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/modern-edge" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_34_tylbio.png" height="55" alt="Modern Edge"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/cor-connect" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_35_sxlbkl.png" height="55" alt="Cor.connect"><br>
            </a>
          </td>
        </tr>
        
        <tr>
          <td align="center">
            <a href="https://vcards.infyom.com/professional" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_36_hp6gww.png" height="55" alt="Professional"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/Clean-Canvas" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_37_xjldv6.png" height="55" alt="Clean Canvas"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/executive-profile-vcard" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_38_rhliyv.png" height="55" alt="Executive Profile"><br>
            </a>
          </td>
          <td align="center">
            <a href="https://vcards.infyom.com/simple-contact" onclick="event.preventDefault(); window.open('https://vcard.flexioninfotech.com/device?url=' + this.href, '_blank');">
              <img src="https://res.cloudinary.com/dyvapnn1u/image/upload/v1766409873/svgviewer-png-output_39_gtmtao.png" height="55" alt="Simple Contact"><br>
            </a>
          </td>
          <td></td>
        </tr>
        
      </table>
      
    
    
  </center>

</body>
</html>